<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>~~BAND~~</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="jquery.min.js"></script>
    <script src="audio.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
        $(function() { 
            // Setup the player to autoplay the next track
            var a = audiojs.createAll({
            trackEnded: function() {
                var next = $('ol li.playing').next();
                if (!next.length) next = $('ol li').first();
                next.addClass('playing').siblings().removeClass('playing');
                var next_link = $('a', next);
                audio.load(next_link.attr('data-src'));
                audio.play();
                document.getElementById('current_track').innerHTML = next_link.attr('track-title');
            }
        });

        // Load in the first track
        var audio = a[0];
        first = $('ol li a').first()
        first_data_src = first.attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first_data_src);
        document.getElementById('current_track').innerHTML = first.attr('track-title');

        // Load in a track on click
        $('ol li').click(function(e) {
            e.preventDefault();
            $(this).addClass('playing').siblings().removeClass('playing');
            var next = $('a', this);
            audio.load(next.attr('data-src'));
            audio.play();
            document.getElementById('current_track').innerHTML = next.attr('track-title');
        });

        // Keyboard shortcuts
        $(document).keydown(function(e) {
            var unicode = e.charCode ? e.charCode : e.keyCode;
             // right arrow
            if (unicode == 39) {
                var next = $('li.playing').next();
            if (!next.length) next = $('ol li').first();
                next.click();
            // back arrow
            } else if (unicode == 37) {
                var prev = $('li.playing').prev();
                if (!prev.length) prev = $('ol li').last();
                    prev.click();
                // spacebar
                } else if (unicode == 32) {
                    audio.playPause();
                }
            })
        });
    </script>
    </head>
    <body>
        <h1 class='title'>
            <a href='index.html'>~~BAND~~</a>
        </h1>
        <h3 class='album'>
            <a href='~~ALBUM_PATH~~'>~~ALBUM~~</a> <a href='~~ALBUM_DOWNLOAD_LINK~~' download><i class='fa fa-download'></i></a>
        </h3>
        <p class='description'>~~DESCRIPTION~~</p>
        <div id="wrapper">
            <div class='current_track'>
              <p>Current Track: <span id='current_track'></span></p>
            </div>
            <audio preload></audio>
            <p class='controls'>space: play/pause, &larr;/&rarr; prev/next track</p>
            <ol>
