<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8">
    <title>~~BAND~~</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="main.css">
    <script src="jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script>
$(document).ready(function() {
    var audio;
    var playlist;
    var tracks;
    var current;

    init();
    function init(){
        current = 0;
        audio = $('audio');
        playlist = $('#playlist');
        tracks = playlist.find('li');
        len = tracks.length - 1;
        playlist.find('a.play_track').click(function(e) {
            e.preventDefault();
            link = $(this);
            current = link.parents('li').index();
            run(link, audio[0]);
        });
        audio[0].addEventListener('ended',function(e) {
            current++;
            if(current < len) {
                link = playlist.find('a.play_track')[current];
            } else {
                current = 0;
                link = playlist.find('a.play_track')[0];
            }
            run($(link), audio[0]);
        });
    }
    function run(link, player) {
            player.src = link[0].getAttribute('data-src');
            par = link.parent();
            par.addClass('active').siblings().removeClass('active');
            audio[0].load();
            audio[0].play();
            $('span#current_track').html('').append(link[0].getAttribute('track-title'));
    }
});
    </script>
    </head>
    <body>
        <h1 class="title">
            <a href="index.html">~~BAND~~</a>
        </h1>
        <h3 class="album">
            <a href="~~ALBUM_PATH~~">~~ALBUM~~</a> [<a class="download_link album_download_link" href="~~ALBUM_DOWNLOAD_LINK~~" download>download</a>]
        </h3>
        <p class="description">~~DESCRIPTION~~</p>
        <div id="wrapper">
            <div class="current_track">
              <p>Current Track: <span id="current_track">~~FIRST_TRACK_TITLE~~</span></p>
            </div>
            <audio id="audio" preload controls>
                <source type="audio/mp3" src="~~FIRST_TRACK_DOWNLOAD_LINK~~">
                Sorry, your browser does not support HTML5 audio.
            </audio>
            <ol id="playlist">